<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Tuckshop</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.css">
    <link rel="stylesheet" href="~/fonts/fonts.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>