@{
    ViewBag.Title = "Order";
}

<h2>Menu</h2>

<a asp-action="View">View Order</a>
<table style="border: 1px black">
    @foreach (MenuItem item in ViewBag.MenuItems)
    {
        <tr>
            <td><img style="width: 50%;" src="images/products/@(item.ItemDisplayUrl)" alt="@item.ItemId"></td>
            <td><h2>@item.ItemName</h2></td>
            <td>$@(item.ItemPrice)</td>
            <td><a asp-controller="Orders" asp-action="Add" asp-route-id="@item.ItemId">Add</a></td>
        </tr>
    }
</table>