@using IA2Assessment.Models
@model IA2Assessment.Models.Views.OrdersPaymentViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Payment";
    Layout = "_Layout";
}

<table style="white-space:pre-wrap; word-wrap:break-word">
    @foreach (MenuItem item in Model.MenuItems)
    {
        <tr>
            <th>@item.ItemName</th>
            <th><h4>Quanity:</h4><p>@item.ItemBoughtCount</p></th>
            <th><h4>Price:</h4><p>$@item.ItemPrice</p></th>
        </tr>
    }
</table>
<h2>Total Price: $@Model.MenuItems.Sum(x => x.ItemPrice * x.ItemBoughtCount)</h2>
<div>
    <form method="post" asp-controller="Orders" asp-action="ConfirmPayment">
        <input type="submit" value="Confirm">        
    </form>
    <form method="post" asp-controller="Orders" asp-action="CancelPayment">
        <input type="submit" value="Cancel">
    </form>
</div>