@using IA2Assessment.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "View Order";
    Layout = "_Layout";
}

<h2>View Order</h2>
@if (ViewBag.Order == null || ViewBag.Order.Count == 0)
    {
        <p>You have no items in your order!</p>
    }
    else
    {
        <table>
        @foreach (MenuItem item in ViewBag.Order)
        {
            
            <tr>
                <td>@item.ItemName</td>
                <td>x@(item.ItemBoughtCount)</td>
            </tr>
        }
        </table>
    }

<div>
    <a asp-action="Index">Back to menu</a>
    @if (ViewBag.Order != null && ViewBag.Order.Count != 0)
    {
        <a asp-action="Payment">Confirm Order</a>
    }
</div>
