@{
    ViewBag.Title = "View Order";
}

<h2 class="pt-4">View Order</h2>
<div>
    <a class="btn btn-secondary" asp-action="Index">Back to menu</a>
    @if (ViewBag.Order != null && ViewBag.Order.Count != 0)
    {
        <a class="btn btn-primary" asp-action="Payment">Confirm Order</a>
        <h4 class="lead"></h4>
    }
</div>

@if (ViewBag.Order == null || ViewBag.Order.Count == 0)
{
    <p class="lead">You have no items in your order!</p>
}
else
{
    <table class="table shadow-sm bg-white rounded">
        <thead>
        <tr>
            <td>Item</td>
            <td>Quantity</td>
            <td>Item Price</td>
            <td>Total Price</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        @foreach (MenuItem item in ViewBag.Order)
        {
            <tr>
                <td>@item.ItemName</td>
                <td>x@(item.ItemBoughtCount)</td>
                <td>$@(item.ItemPrice)</td>
                <td>$@(item.ItemPrice * item.ItemBoughtCount)</td>
                <td><a class="btn btn-secondary" asp-action="Remove" asp-controller="Orders" asp-route-id="@item.ItemId">Remove</a></td>
            </tr>
        }
        </tbody>
    </table>
}