@model IA2Assessment.Models.Views.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Head {
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="text-center login">
    <h2>Login</h2>
    <form class="form-signin" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Html.ViewData["ReturnUrl"]">
        <div class="form-floating">
            <input id="userNameInput" type="Username" class="form-control" placeholder="User" asp-for="UserName"/>
            <label for="userNameInput" asp-for="UserName"></label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating">
            <input id="passwordInput" type="Password" class="form-control" placeholder="Password" asp-for="Password"/>
            <label for="passwordInput" asp-for="Password"></label>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="checkbox mb-3">
            <input asp-for="RememberMe">
            <label asp-for="RememberMe"></label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Login</button>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </form>
</div>